@import 'nav';

header {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 1rem;
  padding: 1rem;

  & h1 {
    margin: 0;
  }
  & .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}